* {
    max-width: 960px;
    max-height: 600px;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: beige;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}
h1 {
    font-size: 200%;
    font-weight: bolder;
}
button {
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    padding: 5px 80px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px
}
.timertitle {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.timer {
    margin: 0;
    padding: 0;
}
.number-change {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 150%;
    font-weight: light;
}
.question {
    background-color: rgb(247, 89, 0);
    border-radius: 25px;
}
.content-card {
    width: 500px;
    height: 300px;
    background-color: rgb(247, 89, 0);
    border: solid teal;
    border-width: 10px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 0 10px 2px;
}
button:hover {
    border: solid 1px teal;
    border-radius: 5px;
    background-color:teal;
    color: beige;
}
.answer-here {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}